{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>



<h1>Our Black Box Investigation</h1>
<p id="intro">In our New Media and Tech class our teacher has a mystery black box. The contents are unknown and they somehow change the amount of water poured out of it after a certain amount is poured in.<p>

<h2>Claim:</h2>
<p> The black box has mystery components that help produce variability from the water poured in and the water poured out,  I think there is a tipping bucket in the box that holds or pours water.</p>
<img src="{% static 'core/Model1.jpg' %}" width=300>
<img src="{% static 'core/Image1.JPG' %}" width=300>

<h2>Evidence:</h2>
<p>We tested the mystery black box by pouring in different amounts of water into the top when we poured in 1000 mL changes between thousands and hundreds. For example in trials 1,3, and 5 they are all below one thousand and are mainly in the hundreds and in trial 2 and 4 This shows a potential pattern between the trials. We saw the variability and saw that there was somehow a way for the box to pour out more water than poured in. We heard water falling and hitting the bottom of something, and the water takes a long time to exit the box. In our box we had not figured out how to get more water to pour out. But what did happen was the amount less we got varied a lot, sometimes we lost hundreds of ml sometimes we only lost 50, that was the main variability in our box. An alternative claim would be that there is a sponge in the box but the amount of water it would take before the sponge releases water is too much.</p>
<img src="{% static 'core/Model.Ipad.JPG' %" width=500>

<h2>Reasoning, Part I:</h2>
<p>Models are visual representations of something you are studying or investigating. You can use models to help you grasp a topic in a easier hands on way. Models help you understand things from a different angle, and test how certain things effect others. But models arent always 100% accurate from scaling, distance, shape, etc.</p>
<h2>Reasoning, Part II:</h2>

<p>My evidence proves my claim because, when we made a model we tried having a bucket that only released water at a certain point, but that only gave us less than we poured in. The only way to explain getting more water is if something fills up and at a certain point it pours out. With the data we collected we saw that when he first poured in the water, less came out and the second time more came out. This went on for the rest of the trials. This shows that something holds and then releases water once a certain capacity is reached.
<h2>Reasoning, Part III:</h2>

<p>An opposite claim could be that there is no bucket but instead there is a sponge. This claim could be right however it wouldnt influence an increase such as 1000 ml. This also wouldnt trap 100% of the water poured in which wouldnt explain why sometimes no water is poured out the box. This claim strengthens mine because it eliminates another possibility</p>

<img src="{% static 'core/QRcode.png' %" width=200>


  </body>
</html>

<h2> Our Data Table for our Mystery Box:</h2>
<table>
  <tr>
    <th>Water Input (mL)</th>
    <th>Water Output (mL)</th>
  </tr>
  <tr>
    <td>400</td>
    <td>70</td>
  </tr>
  <tr>
    <td>550</td>
    <td>300</td>
  </tr>
</tr>
<td>450</td>
<td>400</td>
  </tr>
</tr>
<td>200</td>
<td>100</td>
</tr>
</tr>
<td>75</td>
<td>50</td>
</tr>
</tr>
<td>50</td>
<td>50</td>




</table>
<h2>Table for The Mystery Black Box: </h2>

<table>
  <tr>
    <th>Water Input (mL)</th>
    <th>Water Output (mL)</th>
  </tr>
  <tr>
    <td>1000</td>
    <td>0</td>
  </tr>
  <tr>
    <td>1000</td>
    <td>2200</td>
  </tr>
</tr>
<td>1000</td>
<td>530</td>
  </tr>
</tr>
<td>1000</td>
<td>1730</td>
</tr>
</tr>
<td>1000</td>
<td>700</td>
</tr>
</tr>
<td>2000</td>
<td>2370</td>

</table>
<h2> Reflection:</h2>
<p> Overall I think our design could have been improved upon. We didn't really have a way of releasing more water than collected, that was the main issue we had trouble replicating. If we were to do this again we would need to evaluate the box a bit more to better grasp an understanding of the box. I enjoyed the coding part of the assignment, seeing just random words we type into a document turn into a full website was really interesting. Overall I enjoyed this assignment and i'm glad I got the oppurtunity to do this project.</p>






