<!DOCTYPE html>
<!--
    Anything you put in between the double-dash arrow symbols shown around
    this block of text is designated a 'comment' intended for human coders
    and ignored by the computer. The top "<!DOCTYPE html>" line of code 
    declares that this text file is to be interpreted as HTML code.
-->

<html lang=en>
<!--
    This opening tag marks the start of the html code.  Everything below
    until the </html> closing tag is part of this element. "lang" is an
    attribute defining the language of the website. The value "en" 
    indicates this site is written in English. We indent the content
    inside an element to make it easier for people to read and understand.
-->

    <head>
    <!--Code about the website NOT displayed in the browser window.-->

        <meta charset="UTF-8"> <!--Sets site to use standard characters.-->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Sizes your site to the visitor's screen size -->

        <meta name="author" content="Mohamed">
        <!--
            Some tags like "meta" are self-closing. They have "attributes" 
            but no inner content and they don't need or use a closing tag.
        -->

        <title>Mohamed's Screenprinting Project</title>
        <!--The 'title' is what's displayed in the browser tab.-->

        <link rel="stylesheet" href="style_screenprint.css">
        <!--
            HTML (HyperText Markup Language) code is for the website 
            content. CSS (Cascading Style Sheets) code is for the website 
            style. The line above tells the browser the file location and 
            file name to find this code that you'll write/edit there.
        -->

    </head>

    <body>
	<nav>
	  <ul>
	    <li>
	<a href="https://www.microsoft.com/en-us/">About Me</a>
	</li>
	<li><a href="QRcode.png">BlackBox</a></li>
</ul>
</nav>

	 
 <!--Everything to be displayed in the browser window.-->
        <div class="bordered">
        <h1>Mohamed's Screenprinting Midterm</h1>
	<h2>Introduction</h2>
        <p>I made a design for people on their journey to becoming great, these people can hopefully use my design to inspire others. My secondary audience is people who are burnt out and think they are not good enough. I use this photo to hopefully inspire them to keep on trying and give them hope on their seemingly impossible dreams.</p>
<img src="Holding.jpg" width="300">


<h2>Design Process</h2>

	<p>I had one with this design but when I was brainstorming ideas I thought of it, it was the Barack Obama hope poster. My idea was to put a silhouette of myself in between the figures of other influential people. There is a question mark on my face showing that there is a void needed to be filled by someone else. I initially wanted to use a black font but instead I decided upon a golden font to symbolize power. </p>
		<img src="paper print.jpg" width="300">


<h2>Assemmbling and Printing</h2>

<p>On the first day of physical work I measure out my dimensions onto my wood for my frame. After I got my final dimensions I got ready to cut. When I finished using the saw, i glued and stapled all the pieces together. After my wooden frame was assembled I attached the screen to the frame using staples which helped me finish off assembling my screen. My next step was peeling the vinyl and heat pressing the peeled vinyl to the screen. The last step in the physical work was printing.I printed onto three different materials which were fabric,cardboard,and paper</p>
	<img src="Blank.jpg" width="300">
		
<h2>Final Thoughts</h2>
 <p> In this project I most enjoyed the physical work. I enjoyed building my tool to print rather than it already being made. The tools were fun to use, overall seeing the project from beginning to end and having my own personal design was really interesting. I found assembling to be the trickiest part but it was the most fun, though the digital work was easier it was not as fun and entertaining. I hope to further enhance my skills using these tools in the future as they are very useful and neat.</p>
	
	<img src="Fabric.jpg" width="300">

	
<h2>21st Century Skills</h2>
<p>In the project, the 21st century skill I used was "Citizenship and Responsibility". This is because my design is used to inspire people to be great no matter their situation. I also used "Communication and Collaboration". I used this skill when I took inspiration from others and worked with others assembling my project. When assembling the frame more than one person is needed when stretching the screen and I got advice from my peers. </p>
<img src="Cardboard.jpg" width="300">
	
    </body>
</html>
